.AdminRow:after { 
    content: " "; 
    display: block;
    clear: both;
} 

.disabled {
	background-color: #eee;
}

.editCell {
	text-align: center;
	border: 1px solid red;
	cursor: pointer;
	line-height: 30px;
	width: calc(50% - 20px);
	margin: 10px;
}

@media screen and (max-width: 500px) {
	.editCell {
		margin: 10px 2px;
		width: calc(50% - 4px);
	}
}

.editCell:hover {
	background-color: red;
}

.nameCell {
	display: block;
	margin: 16px 10px;
	float: left;
	font-size: 20px;
	width: calc(50% - 20px);
}

.priceCell {
	margin: 16px 10px;
	float: left;
	width: calc(20% - 20px);
	cursor: pointer;
	fill: red;
	vertical-align: center;
}

.buttonsCell {
	display: inline-block;
	width: calc(30% - 20px);
	float: right;
}
