.AdminContent {
	width: 900px;
	margin: auto;
	margin-top: 50px;
	/*background-color: white;*/
}

@media screen and (max-width: 900px) {
	.AdminContent {
		width: 100%;
	}
}

.addCategoryInput {
	width: calc(70% - 20px);
	float: left;
	margin: 10px;
	height: 36px;
}

.newCategoryTile {
	height: 50px;
}

.saveCategoryButton {
	width: calc(30% - 20px);
	float: right;

}

.AdminTile {
	display: block;
    clear: both;
	width: 100%;
	/*border: 1px solid black;*/
	border-collapse: collapse;
	background-color: white;
	margin-bottom: 20px;
	padding: 10px;
	/*min-height: 50px;*/
}

th {
	text-align: left;
	height: 50px;
	background-color: #ddd;
	padding: 5px;
}

.AdminAddRowInput {
	width: 100%;
	height: 36px;
	font-size: 16px;
}

.barName {
	font-size: 30px;
	float: left;
	line-height: 30px;
}

.addCategoryButton svg {
	float: right;
	height: 30px;
	width: 30px;
	cursor: pointer;
	fill: red;
	vertical-align: center;
}

.barHeader {
	height: 50px;
}