.categoryName {
	font-size: 30px;
	float: left;
	line-height: 30px;
}

.addCategoryItemButton svg {
	float: right;
	height: 30px;
	width: 30px;
	cursor: pointer;
	fill: red;
	vertical-align: center;
}

.categoryHeader {
	height: 50px;
}

.newCategoryItem {
	display: block;
}

.addItemInput {
	height: 36px;
	margin: 10px;
}
.addItemNameInput {
	display: inline;
	width: calc(50% - 20px);
}

.addItemPriceInput {
	display: inline;
	width: calc(20% - 20px);
}

.saveCategoryItemButton {
	width: calc(30% - 20px);
}