.AdminContent {
	width: 900px;
	margin: auto;
	margin-top: 50px;
}

@media screen and (max-width: 900px) {
	.AdminContent {
		width: 100%;
	}
}

.addCategoryInput {
	width: calc(70% - 20px);
	margin: 10px;
	height: 36px;
	font-size: 30px;
}

.newCategoryTile {
	height: 50px;
}

.saveCategoryButton {
	width: calc(30% - 40px);
	float: right;
}


th {
	text-align: left;
	height: 50px;
	background-color: #ddd;
	padding: 5px;
}

.AdminAddRowInput {
	width: 100%;
	height: 36px;
	font-size: 16px;
}

.barName {
	font-size: 40px;
	float: left;
	line-height: 30px;
}

.addCategoryButton svg {
	float: right;
	height: 40px;
	width: 40px;
	cursor: pointer;
	fill: red;
	vertical-align: center;
}

.barHeader {
	height: 50px;
}